<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/index2.css" />
    </head>
    <body>
        <nav>
            <a href="/" class="f90-logout-button">Logout</a>
        </nav>
        <h1>Welcome to the Hoard</h1>
        <nav>
            <a href="/books/new/?token=<%=token%>"> Add a New Book to the Hoard!</a>
        </nav>
        <ul>
            <% for(let i=0; i<books.length; i++) { %>
                <li>
                    <a href="/books/<%=books[i].id%>?token=<%=token%>"> <%=books[i].title%> </a>
                </li>
                <br></br>
            <% } %>
        </ul>
    </body>
</html>