<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>New Book Page</h1>

        <form action="/books" method="POST">
            Title: <input type="text" name="title" />
            Author: <input type="text" name="author" />
            Genre: <input type="text" name="genre" />
            Img: <input type="text" name="img" />
            User Id: <input type="text" name="userId" />
            <input type="submit" value="Create Book" />
        </form>

    </body>
</html>