<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/new.css" />
    </head>
    <body>
        <nav>
            <a href="/" class="f90-logout-button">Logout</a>
        </nav>
        <h1>New Book Page</h1>

        <form action="/books/?token=<%=token%>" method="POST">
            Title: <input type="text" name="title" />
            Author: <input type="text" name="author" />
            Genre: <input type="text" name="genre" />
            Img: <input type="text" name="img" />
            <input type="submit" value="Create Book" />
        </form>

    </body>
</html>