<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/index1.css" />
    <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>The Blissful Bibliophiles Book Hoard</h1>
    </nav>
    <div id="homepage">
            <a href="/auth/signup" class="button">Sign Up</a>
            <a href="/auth/login" class="button">Log In</a>
    </div>
    <br><br>
    <div>
        <img src="https://images.pexels.com/photos/5833/nature-grass-green-book.jpg?auto=compress&cs=tinysrgb&h=750&w=1260" />
    </div>
    <footer>
    <div class="contact">
        <p>
            <a href="#">Contact Us</a>
        </p>
    </div>
    <div class="social">
        <p>
            <a href="#">Twitter</a>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
        </p>
    </div>
    <div class="copyright">
        <p>Copyright 2020. All Rights Reserved</p>
    </div>

</footer>
</body>
</html>